parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        -
            message: '#expects string, string\|false given#'
            paths:
                - tests/
        -
            message: '#expects string\|null, string\|false given#'
            paths:
                - tests/
        -
            message: '#Unreachable statement - code above always terminates#'
            paths:
                - tests/
