name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        php: [8.3, 8.4]

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          coverage: xdebug

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ matrix.php }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-${{ matrix.php }}-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run test suite
        if: matrix.php != '8.3'
        run: composer test

      - name: Run test suite with coverage
        if: matrix.php == '8.3'
        run: vendor/bin/phpunit --coverage-clover coverage.xml

      - name: Code Coverage Report
        if: (success() || failure()) && matrix.php == '8.3' && github.event_name == 'pull_request'
        uses: lucassabreu/comment-coverage-clover@v0.12.0
        with:
          file: coverage.xml

      - name: Run PHPStan
        if: success() || failure()
        run: composer phpstan

      - name: Check code style
        if: success() || failure()
        run: composer cs-check
